<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>
  <% @jobs.each do |job| %>
    <ul>
      <li><%= job.title %></li>
      <li><%= job.description %></li>
      <li><%= job.salary %></li>
    </ul>
  <% end %>
